.interest-property {
    display: grid;
    grid-template-columns: 0.6fr 0.8fr;
    grid-gap: 2rem 0rem;
}

.interest-places {
    margin-left: 2rem;
}

.interest-label {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #1B2B42;
}

.interest-place-item {
    color: #9ea4ac;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

@media screen and (max-width: 650px) {
    .interest-property {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem 1rem;
    }

    .interest-label {
        font-size: 18px;
        line-height: 25px;
        font-weight: 600;
        margin: 0.3rem 0;
    }

    .interest-place-item {
        font-size: 16px;
        line-height: 18px;
    }
}

@media screen and (max-width: 300px) {
    .interest-property {
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;
    }
}