.box-filter {
    box-sizing: content-box;
    grid-template-columns: 20vw 20vw 20vw 5vw;
    background: #FFFFFF;
    box-shadow: -7px -7px 15px rgba(0, 67, 101, 0.25), 7px 7px 15px rgba(0, 67, 101, 0.25);
    border-radius: 10px;
}

.box-item-filter {
    border-right: 1px solid #1B2B42;
    padding: 0.2rem 1rem;
    cursor: pointer;
}

.label-filter {
    color: #1B2B42;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.6;
}

.filter-select-area label {
    font-weight: 600;
    margin-left: 5px;
}

.filter-select-area p {
    font-size: 18px;
    margin-top: 1px;
    margin-left: 5px;
    text-align: left;
}

.filter-btn-search button {
    border-radius: 0px 8px 8px 0px;
}

.select-filter:focus, .select-filter:focus-visible {
    outline: none;
}

.card-area-options {
    top: -5vh;
    width: fit-content;
    padding: 1rem 1.5rem;
    position: absolute;
    background-color: white;
    box-shadow: -7px -7px 15px rgba(0, 67, 101, 0.25), 7px 7px 15px rgba(0, 67, 101, 0.25);
    border-radius: 10px;
    z-index: 1;
}

.area-option-values {
    border: 1px solid rgb(201, 201, 201);
    padding: 0.5rem;
    padding-right: 1rem;
    width: 10rem;
}

.area-option-values label {
    font-size: 16px;
    display: block;
    width: 100%;
    opacity: 0.6;
}
.area-option-values p {
    font-size: 18px;
    margin: 0px 0.5rem;
}
hr{
    margin-top: 10px;
    border: 0.2px solid rgb(201, 201, 201);
    opacity: 0.5;
}