.box-filter-mobile {
    box-sizing: content-box;
    grid-template-columns: 75vw 15vw;
    width: fit-content;
    background: #FFFFFF;
    box-shadow: -7px -7px 15px rgba(0, 67, 101, 0.25), 7px 7px 15px rgba(0, 67, 101, 0.25);
    border-radius: 10px;
}

.box-filter-mobile .box-item-filter {
    border-right: 1px solid #1B2B42;
    padding: 0.2rem 1rem;
    cursor: pointer;
}

.input-search-filter {
    caret-color: #009B72;
    padding: 0.4rem 0.5rem;
}

.input-search-filter:focus {
    border: none;
}