    .container-parthners {
        background-color: #EDF8FD;
    }

    .partner-item img {
        width: 9vw;
    }

    .partner-item img:hover {
        transform: scale(1.5);
    }

    @media screen and (max-width: 550px) {
        .container-parthners h1 {
            font-size: 1.6rem;
            line-height: 28px;
            margin-bottom: 0.5rem;
        }

        .container-parthners h3 {
            font-size: 20px;
            line-height: 24px;
            width: 80%;
        }

        .partner-item img {
            width: 20vw;
        }

        .container-parthners .slider-container {
            margin: 0 auto;
        }

        .partner-item {
            display: flex;
            vertical-align: middle;
            justify-content: center;
            height: 15vh;
        }

        .partner-item img:hover {
            transform: none
        }
    }