.card-property img {
    width: 100%;
    cursor: pointer;
    border-radius: 8px 8px 0px 0px;
}

.box-info-property {
    margin-bottom: 1rem;
}

.price-property {
    margin: 1rem;
    font-size: 28px;
    line-height: 25px;
}

.card-property {
    background: #FFFFFF;
    width: fit-content;
    box-shadow: 3px 3px 10px rgba(0, 67, 101, 0.25), -3px -3px 10px rgba(0, 67, 101, 0.25);
    border-radius: 10px;
}

.info-property p {
    display: inline-block;
    font-size: 14px;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #009B72;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 0.5rem 0.3rem;
}

.icons-card-property {
    display: inherit;
    height: max-content;
}

.icons-card-property .circle {
    cursor: pointer;
    margin: 0rem 0.2rem;
    box-shadow: -1px -1px 2px rgba(0, 67, 101, 0.1), 1px 1px 2px rgba(0, 67, 101, 0.1);
    border-radius: 25px;
    padding: 0.4rem;
}

@media screen and (max-width:1200px) {
    .card-property {
        width: fit-content;
        margin: 0.5rem 0.5rem;
    }

    .price-property {
        margin: 0.5rem;
        font-size: 22px;
        line-height: 35px;
    }

    .info-property p {
        display: inline-block;
        font-size: 12px;
    }

    .dot {
        margin: 0px 0.3rem 0.1rem;
    }

}

@media screen and (max-width:550px) {
    .box-info-property {
        margin-bottom: 0.2rem;
    }

    .info-property p {
        font-size: 18px;
        font-weight: 600;
    }

    .dot {
        width: 6px;
        height: 6px;
        margin: 0px 0.5rem 0.2rem;
    }
}