.banner-container {
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
    padding: 2rem 1.5rem 1rem;
    border-radius: 20px;
    background-size: 40%;
    height: 100%;
}

.banner-container h2 {
    margin: 0.8rem 0;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}

.banner-container p {
    margin: 1rem 0;
    width: 70%;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 30px;
}

.banner-container button {
    position: relative;
    padding: 1rem;
    font-size: 1.2rem;
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        -webkit-linear-gradient(0deg, #009DDC, #009DDC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-container .btn-container {
    cursor: pointer;
    margin: 2.5rem 0px;
    margin-bottom: 2rem;
    border-radius: 20px;
    width: 20vw;
    background-color: #FFFFFF;
    z-index: -1;
}

.banner-container .btn-container:hover {
    background-color: #cacaca;
}