.construction-container {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr;
    gap: 3rem;
    padding: 5rem;
}

.text-container {
    width: 80%;
}

.text-container h1 {
    font-size: 38px;
    font-weight: 600;
    color: #009B72;
    margin-bottom: 2rem;
}

.text-container h3 {
    font-size: 28px;
    font-weight: 300;
    line-height: 40px;
}

.img-container img {
    width: 40vw;
}

@media screen and (max-width: 768px) {
    .construction-container {
        grid-template-columns: 1fr;
        grid-template-rows: 38vh 38vh;
        gap: 0;
        padding: 2rem;
    }

    .text-container h1 {
        font-size: 36px;
        margin-bottom: 1rem;
    }

    .text-container h3 {
        font-size: 26px;
        font-weight: 300;
        line-height: 36px;
    }

    .text-container {
        width: 100%;
        text-align: center;
    }

    .img-container img {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .construction-container {
        grid-template-rows: 50% 50%;
        gap: 2rem;
    }

    .text-container h1 {
        font-size: 30px;
        margin-bottom: 1rem;
    }

    .text-container h3 {
        font-size: 22px;
        font-weight: 300;
        line-height: 30px;
    }
}