.benefits-items-container {
    width: fit-content;
    margin: auto;
}

.benefit-item {
    display: block;
    margin: 1.5rem;
    width: 20vw;
    height: fit-content;
    padding: 1rem 2rem;
    box-shadow: -4px -4px 10px rgba(46, 46, 46, 0.25), 4px 4px 10px rgba(0, 67, 101, 0.25);
    border-radius: 20px;
}

.benefit-item label {
    margin-left: 0.5rem;
    font-weight: 600;
    font-size: 22px;
    line-height: 48px;
}

.benefit-item .text-container {
    display: block;
    height: 4vh;
}

.benefit-item p {
    margin: 0.5rem 0;
    font-size: 15px;
    color: #6e7379;
    font-weight: 100;
    line-height: 20px;
}

.benefit-item .img-container {
    display: block;
    position: relative;
    bottom: -2rem;
    width: 22vw;
}

.benefit-img {
    position: relative;
    top: 2rem;
    float: right;
}

@media screen and (max-width: 768px) {
    .container-benefits .tittle-text {
        font-size: 1.8rem;
        line-height: 28px;
    }

    .container-benefits h3 {
        font-size: 1.2rem;
        line-height: 28px;
        margin: 1.5rem auto;
    }

    .benefits-items-container {
        grid-template-columns: 1fr;
        padding: 0;
        padding-right: 2rem;
        gap: 1rem;
    }

    .benefit-item {
        width: 100%;
        margin: 1rem;
    }

    .benefit-item .img-container {
        width: 100%;
    }

    .benefit-item .text-container {
        height: 2vh;
    }

    .benefit-item .text-container p {
        font-size: 0.9rem;
    }

    .benefit-img {
        right: -2rem;
    }
}