.property-grid-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media screen and (max-width:1400px) {
    .property-grid-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}