.container-header {
    height: 70vh;
}

.container-header h1 {
    font-size: 40px;
    line-height: 54px;
}

.img-header-container {
    position: relative;
    margin: 5vw;
    left: 5vw;
}

#img-header {
    position: relative;
    margin-top: 15%;
    width: 300px;
    height: 250px;
}

#logo-header-back {
    position: absolute;
    width: 300px;
    top: 5vh;
    margin-left: 20%;
    height: 250px;
    z-index: -999;
}

.filter-container {
    position: absolute;
    bottom: 15vh;
    left: 5vw;
}

@media screen and (min-width: 1500px) {
    .container-header h1 {
        font-size: 48px;
    }
}

@media screen and (max-width: 1500px) {
    .filter-container {
        bottom: 10vh;
    }
}

@media screen and (max-width: 550px) {
    .container-header {
        display: flex;
        flex-direction: column;
        height: max-content;
    }

    .container-header h1 {
        font-size: 26px;
        line-height: 32px;
        margin: 2rem 1rem;
        padding: 0 1rem;
        margin-bottom: 0;
        width: 95%;
    }

    .img-header-container {
        margin: 1rem auto;
        margin-left: 13vw;
        left: 0;
    }

    #img-header {
        width: 65vw;
        height: 50vw;
    }

    #logo-header-back {
        width: 60vw;
        height: 60vw;
        top: 4vh;
        margin-left: 40%;
    }

    .filter-container {
        bottom: 6vh;
    }
}