.container-header {
    height: 70vh;
}

.container-header h1 {
    font-size: 40px;
    line-height: 54px;
}

.text-class {
    margin-left: 10%;
    width: 100%;
    margin-bottom: 20%;
}

.img-header-container {
    position: relative;
    left: 5vw;
    margin-bottom: 20%;
}

#img-header {
    position: relative;
    margin-top: 15%;
    width: 300px;
    height: 250px;
}

#logo-header-back {
    position: absolute;
    width: 300px;
    top: 5vh;
    margin-left: 20%;
    height: 250px;
    z-index: -999;
}

.filter-container {
    position: relative;
    bottom: 15vh;
    left: 5vw;
}

@media screen and (min-width: 1500px) {
    .container-header h1 {
        font-size: 48px;
    }
}

@media screen and (max-width: 1500px) {
    .container-header h1 {
        font-size: 38px;
        line-height: inherit;
    }

    .text-class {
        margin-bottom: 30%;
    }

    .img-header-container {
        margin-bottom: 30%;
    }
}

@media screen and (max-width: 700px) {
    .container-header h1 {
        font-size: 30px;
        line-height: inherit;
    }

    .text-class {
        margin-bottom: 50%;
    }

    .img-header-container {
        margin-bottom: 70%;
    }
}

@media screen and (max-width: 700px) {
    .simple-text {
        font-size: 15px;
        line-height: 20px;
    }
}

