.btn-header {
    padding: 0.5rem 2.5rem;
    border-radius: 10px;
    font-size: 14px;
}

.header-container {
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
}

.left-modal {
    background-color: rgba(70, 67, 67, 0.151);
    cursor: initial;
}

.left-modal .modal-content {
    height: 100vh;
}

.modal-content h3 {
    color: #999da3;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0.2rem 0.5rem;
}
.modal-content a{
    display: block;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 35px;
    color: #1B2B42;
}