.card-form-property .property-image-add {
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem 1rem;
    height: 35vh;
}

.property-image-add-pending {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5rem 1rem;
}

.add-image-box {
    background-color: #65bbddcb;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
}

.img-add-bulding{
    width: 1.7rem;
    filter:  brightness(0) invert(1);
}