.contact-card {
    margin: 1rem 0rem;
    background-color: white;
    right: 5rem;
    box-shadow: -3px -3px 10px rgba(17, 87, 134, 0.25), 3px 3px 10px rgba(17, 87, 134, 0.25);
    border-radius: 15px;
    padding: 1rem 2rem;
}

.phone-icon {
    margin-top: 0.3rem;
    margin-right: 0.5rem;
}

.contact-card h1 {
    color: #1B2B42;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.contact-card p {
    color: #9ca5b1;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.card-btn-container {
    margin-top: 1rem;
}

.card-btn-container button {
    display: flex;
    color: white;
    width: 18vw;
    margin: auto;
    margin-top: 0.8rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 16px;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
}