@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.simple-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #1B2B42;
}

.tittle-text {
  font-weight: 600;
  font-size: 44px;
  line-height: 64px;
  color: #1B2B42;
}

.card {
  background: #FFFFFF;
  border-radius: 50px;
  padding: 30px;
}

.select-placeholder{
  color: #d3cbcb;
}

.card-form-property {
  box-shadow: -7px -7px 20px rgba(0, 157, 220, 0.25), 7px 7px 20px rgba(0, 157, 220, 0.25);
  padding: 2rem 4vw;
  width: 50%;
  margin: 4rem auto;
}

.card-form-property .tittle {
  color: #009DDC;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 1rem 0;
}